<h1 style="color: gray; font-family: Arial, sans-serif">My account</h1>
<p>
    <%= link_to "All Articles", articles_path%>
</p>
<p style="color: black; font-family: Arial, sans-serif;">
    Username: <%= @user.username%>
</p>

<p style="color: black; font-family: Arial, sans-serif;">
    Email: <%= @user.email%>
</p>
<hr>
<h2 style="color: green; font-family: Arial, sans-serif">My Articles</h2><hr>
<table style="color: black; font-family: Arial, sans-serif; border-collapse: separate; border-spacing: 10px; margin: auto;">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>View</th>
        <th>Edit</th>
        <th>Created</th>
        <th>Updated</th>
    <tr>
        <%@user.articles.each do |article|%>
        <tr>
            <td><%=article.title%></td>
            <td><%=article.description%></td>
            <td><%= link_to 'Show', article_path(article)%></td>
            <td><%= link_to 'Edit', edit_article_path(article)%></td>
            <td><%= time_ago_in_words(article.created_at)%> ago</td>
            <td><%= time_ago_in_words(article.created_at)%> ago</td>

        <% end%>
</table>
